
SUPABASE_URL=https://jtoamsrvfbbcpkpzzqmm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0b2Ftc3J2ZmJiY3BrcHp6cW1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDMxNzYsImV4cCI6MjA5MjM3OTE3Nn0.zhBEcButrIavjfhhiGy0_bTEqirAAPPBjyPKV8tviQM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0b2Ftc3J2ZmJiY3BrcHp6cW1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjgwMzE3NiwiZXhwIjoyMDkyMzc5MTc2fQ.8AnC9s8Po6ZyVZLNbYwdJedf8pUvets9NDOCjSjjc_0